@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Opens Sans', sans-serif;
}

body {
    height: 100vh;
    background-image: url(/assets/img/pika1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 500px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 5);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #fff;
    background: rgba(0, 0, 0, 5);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 7);
    border: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}

#img1 {
    background-image: url(/assets/img/charmanderescuro.webp);
    background-size: 150px 165px;
    background-repeat: no-repeat;
}

#img2 {
    background-image: url(/assets/img/squirtle.jpg);
    background-size: 190px 165px;
    background-repeat: no-repeat;
}

#img3 {
    background-image: url(/assets/img/bulbassaur.jfif);
    background-size: 190px 165px;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {
    body {
        overflow: hidden;
        background-size: 100% 100%;
        background-position: center; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .relogio {
        flex-direction: column;
        width: 40%;
        height: auto;
        padding: 20px;
        box-shadow: 0px 5px 8px rgba(0, 0, 0, 5);
    }

    .relogio div {
        width: 120px;
        height: 120px;
        font-size: 50px;
        margin: 10px 0;
    }

    .relogio span {
        font-size: 40px;
    }

    .relogio span.tempo {
        font-size: 12px;
    }

    #img1,
    #img2,
    #img3 {
        background-size: contain;
        width: 157px;
        height: 100px;
    }
}
